project_root: /home/proj-samer/df2023-xai
task: segmentation

model:
  name: segformer_b2
  num_classes: 1  # This forces a Binary Output [B, 1, H, W].
  pretrained: true
  # --- FIX 1: Scientific Consistency ---
  use_smp: true
  use_timm: false 
  p_foreground_prior: 0.10

data:
  # 1. Point to your NEW manifest
  manifest_csv: ${project_root}/data/manifests/df2023_manifest.csv
  train_manifest_csv: ${project_root}/data/manifests/splits/train_split.csv
  val_manifest_csv:   ${project_root}/data/manifests/splits/val_split.csv
  # 2. SET SPLITS TO NULL
  # Since you just created a new manifest, the old split files (from 2025) 
  # are invalid. Setting these to null forces the code to create new 
  # valid splits automatically.
  test_manifest_csv:  null

  img_size: 512
  batch_size: 4 # Fix memory issues(OOM)
  num_workers: 2
  pin_memory: true
  persistent_workers: true
  tiny_subset_per_class: null

train:
  max_steps: 160000
  val_every_steps: 1000
  early_stop_patience: 15
  log_every_steps: 1000
  
  lr: 5.0e-6        # From 1.0e-5        
  weight_decay: 0.05   # CHANGE: Increase from 0.01 to 0.05 (Stronger regularization)
  warmup_steps: 5000   # CHANGE: Increase from 4000 (Gentler start)
  min_lr: 1.0e-7
  grad_clip: 1.0       # Keep this tight clip
  amp: false           # DISABLE AMP SAFETY. Use float32
  accumulation_steps: 8
  
  seed: "${env:SEED,1337}"
  ce_class_weights: [0.2, 0.8]
  ignore_index: 255

aug:
  hflip: true
  rot90: true
  contrast: false
  noise: false 
  blur: false

out:
  dir: ${project_root}/outputs/segformer_b2_v2/seed${env:SEED,1337}
  log_file: stdout.log
